html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #000000;
  height: 100%;
}

h2 {
  color: white;
}

.topContainer {
  max-width: 1700px;
  width: 96%;
  background: white;
  margin: auto;
  overflow: hidden;
}

/*----Header Navigation Bar----*/

header {
  background: white;
  margin-bottom: 0px;
}

.upperLogo {
  float: left;
  margin-top: 15px;
  width: 163px;
}

nav {
  float: right;
  line-height: 70px;
  margin: 10px;
}

nav li {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  line-height: normal;
  align-items: center;

  background: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.logIn {
  background: white;
  border-radius: 7px;
  color: white;
  border: 1.5px solid #fd487a;
  cursor: pointer;
  /* padding: 5px 20px; */
  /* box-sizing: content-box; */
}

.logIn:hover {
  background: #fd487a;
  border-radius: 7px;
  color: white;
  border: 1.5px solid #fd487a;
}

.logIn:hover > a {
  color: white;
}

.signUp {
  background: #fd487a;
  border-radius: 7px;
  color: white;
  border: 1.5px solid #fd487a;
  cursor: pointer;
  /* padding: 5px 20px; */
  /* box-sizing: content-box; */
}

.signUp:hover {
  background: white;
  border-radius: 7px;
  color: #fd487a;
  border: 1.5px solid #fd487a;
}

.signUp:hover > a {
  color: #fd487a;
}

a {
  color: black;
}

a:active {
  color: #fd487a;
}

.logColor {
  color: #fd487a;
}

.logColor:active {
  color: white;
}

.signColor {
  color: white;
}

.signColor:active {
  color: #fd487a;
}

/* ---- Logo and Buttons ---- */

.midContainer {
  /* max-width: 1700px; */
  width: 100%;
  margin-top: 30px;
  background-color: white;
  /* min-height: 40%; */
  overflow: hidden;
  padding-bottom: 50px;
}

.separate {
  width: 95%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.theMainText {
  width: 48%;
  align-items: left;
  /* border: 1.5px solid #fd487a; */
  display: flex;
  flex-direction: column;
}

.main1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;

  color: #000000;
}

.main2 {
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}

.todayBut {
  background: #fd487a;
  border-radius: 7px;
  width: 40%;
  height: 50px;
  color: white;
  border: 1.5px solid #fd487a;
  cursor: pointer;
  margin: auto;
  margin-left: 0px;
  margin-top: 20px;
  /* padding: 5px 20px; */
  /* box-sizing: content-box; */
}

.todayBut:hover {
  background: white;
  border-radius: 7px;
  color: #fd487a;
  border: 1.5px solid #fd487a;
}

.todayBut:hover > a {
  color: #fd487a;
}

.mainLogo {
  display: block;
  width: 40%;
  margin: auto;
  /* margin: 3% 8%; */
  /* padding: 50px 20px; */
}

.iPhoneLogo {
  display: none;
}

button {
  display: inline-block;

  width: 128px;
  height: 34px;
  border-radius: 60px;

  float: right;

  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;

  margin-top: -10px;
  margin-left: 20px;

  outline: none;
  cursor: pointer;

}


/* bottom section */
.containerBottom {
  /* max-width: 1700px; */
  width: 100%;
  height: 60px;
  background: #fd487a;
  padding-top: 25px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
  align-items: center;

  font-style: normal;
  font-size: 20px;

  bottom: 0;

}

.contactUs {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;

  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  width: 120px; /* changed */
  height: 34px;
  border-radius: 20px;

  background: white;
  color: #fd487a;
  outline: none;
  border: none;
}

.contactUs:hover {
  color: white;
  background: #fd487a;
  border: 1.5px solid #fd487a
}

.infoText {
  color: white;
  font-weight: 300;
  line-height: 14px;
  font-size: 12px;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
